fastapi
uvicorn
black
pylint
pydantic
asyncpg
sqlalchemy
pydantic[email]
psycopg2-binary
python-dotenv
pytz
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
PyJWT
google-auth
google-auth-oauthlib
google-auth-httplib2
testcontainers
pytest
httpx
sqlmodel
pytest-cov
keycloak
alembic